<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/assets/fonts/fonts.css">
    <link rel="stylesheet" href="static/assets/css/color-scheme.css">
    <link rel="stylesheet" href="static/assets/css/login.css">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/icons/F.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/icons/F32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="static/assets/icons/F180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/assets/icons/F192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/assets/icons/F512.png">
</head>
<body>
    <div>
        <h1>Log in</h1>
        <form action="{{ url_for('handle_data') }}" method="post">
            <input type="text" name="username" id="username" placeholder="Username">
            <br>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <input type="submit" value="Log in">
        </form>
    </div>
</body>
</html>