<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting to {{ url }} in {{ t }} seconds</title>
    <link rel="stylesheet" href="static/assets/fonts/fonts.css">
    <link rel="stylesheet" href="static/assets/css/color-scheme.css">
    <link rel="stylesheet" href="static/assets/css/login.css">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/icons/F.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/icons/F32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="static/assets/icons/F180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/assets/icons/F192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/assets/icons/F512.png">
    <script>
        var url = "{{ url }}";
        var seconds = "{{ t }}";
        var timer = setInterval(function() {
            seconds--;
            document.getElementById("time").innerHTML = seconds.toString();
            if (seconds <= 0) {
                clearInterval(timer);
                window.location.href = url;
            }
        }, 1000);
    </script>
</head>
<body>
    <div>
        <h1>Redirecting...</h1>
        <h2>Redirecting to {{ url }} in <custom id="time">{{ t }}</custom> seconds</h2>
    </div>
</body>
</html>